.infographics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.infographic {
    width: 250px; 
    height: auto;
}

.name-info {
    font-style: 20px;
    margin-top: 10%;
    margin-bottom: 7%;
    font-weight: 600;
}

.highlight {
    color: #CA5331;
    font-weight: 600;
}

.list {
    margin-left: 3%;
}

.title-content {
    font-size: 36px;
    margin-bottom: 4%;
}