h1 {
    text-align: center;
    color: #CA5331;
    margin: 20px 0;
}

form.lego-set-form {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #CA5331;
    font-size: 18px;
}

.form-control {
    font-family: "Commissioner", sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #CA5331;
    outline: none;
    box-shadow: 0 0 5px rgba(202, 83, 49, 0.5);
}

.btn-success {
    display: block;
    width: 100%;
    padding: 15px;
    color: #fff;
    background-color: #CA5331;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #a44328;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    accent-color: #CA5331;
}

.form-control[multiple] {
    height: auto;
}

.form-check {
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }

    button.btn {
        font-size: 14px;
    }
}
