.quantity-form .btn-minus,
.quantity-form .btn-plus {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quantity-form .btn-minus {
    background-image: url("../lego_images/minus.svg");
    rotate: 180deg;
}

.quantity-form .btn-plus {
    background-image: url("../lego_images/plus.svg");
}

.quantity-form .btn-minus:hover,
.quantity-form .btn-plus:hover {
    background-color: #e0e0e0;
    border-color: #999;
}

/* Этапы */
.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    color: #999;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.step.active {
    color: #000;
    font-weight: bold;
    border-color: #28a745;
}

/* Макет корзины */
.cart-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* Колонка: Моя корзина */
.cart-column {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.cart-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.item-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.quantity-selector {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.update-btn,
.delete-btn {
    display: inline-block;
    margin-top: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.delete-btn {
    background-color: #6c757d;
}

/* Колонка: Оформление заказа */
.checkout-column {
    top: 20px;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main-button a{
    color: white;
}

/* Колонка: Готово */
.summary-column {
    text-align: center;
    padding: 20px;
    border-left: 1px solid #ddd;
    color: #555;
}

.summary-text {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}

.out-of-stock {
    opacity: 0.6;
}

.out-of-stock-text {
    color: red;
    font-weight: bold;
}
