.profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: start;
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.text {
    font-size: 20px;
}

/* Сайдбар левый */
.sidebar {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
}
.sidebar ul li a.active {
    color: var(--red);
}

.logout {
    padding: 10px 30px;
    background: var(--red);
    border-radius: 10px;
    font-weight: 600;
    color: white;
    transition: all .3s;
}
.logout:hover {
    background: #ff7171;
}

/* Ссылки-переключатели контента */
.tab-content {
    display: none;
}
.tab-content.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Форма изменения профиля */

.profile-form {
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 10px;
}
.profile-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.checkout-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="tel"] {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F1ECEC;
}
.profile-form input[type="text"]:focus,
.profile-form input[type="email"]:focus,
.profile-form input[type="tel"]:focus {
    border-color: var(--red);
    outline: none;
    box-shadow: 0 0 10px rgba(202, 83, 49, 0.5);
}

/* Контейнер заказов */
.orders-block{
    padding: 20px;
    border-radius: 10px;
    border:1px solid var(--light-gray);
}

/* Заказ */
.order-item {
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    overflow: hidden;
}
.order-item th, .order-item td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.order-item tr:hover {
    background-color: #f9f9f9;
}

/* Статусы заказа */
.status-success {
    font-weight: bold;
    color: #28a745;
}
.status-cancelled {
    font-weight: bold;
    color: #dc3545;
}

