.profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 500;
}

.text{
    font-size: 20px;
}

/* Сайдбар левый */
.sidebar {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
}
.sidebar ul li a.active {
    color: var(--red);
}

/* Ссылки-переключатели контента */
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

/* Форма изменения профиля */
.profile-form {
    border: 1px solid #ddd;
    padding: 40px 100px;
    border-radius: 8px;
}
.profile-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.profile-form legend {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}

.input-group{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.input-group label {
    display: block;
    width: 40%;
 }
.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="tel"] {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F1ECEC;
}
.profile-form input[type="text"]:focus,
.profile-form input[type="email"]:focus,
.profile-form input[type="tel"]:focus {
    border-color: var(--red);
    outline: none;
    box-shadow: 0 0 10px rgba(202, 83, 49, 0.5);
}

/* Контейнер заказов */
.orders-block{
    padding: 20px;
    border-radius: 10px;
    border:1px solid var(--light-gray);
}

/* Заказ */
.order-item {
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    overflow: hidden;
}
.order-item th, .order-item td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.order-item tr:hover {
    background-color: #f9f9f9;
}

/* Статусы заказа */
.status-success {
    font-weight: bold;
    color: #28a745;
}
.status-cancelled {
    font-weight: bold;
    color: #dc3545;
}

