
.product-container {
    display: flex;
    gap: 135px;
}
.slider-container {
    width: 100px;
    overflow: hidden;
}
.slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.slider img {
    width: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}
.slider img:hover {
    border-color: #007bff;
}
.main-image {
    object-fit: cover;
    border: 2px solid #ddd;
}
